---
import NotFoundLayout from '../layouts/NotFoundLayout.astro';
---

<NotFoundLayout title="Not Found" description="Page not found">
	<section class="absolute flex h-full w-full flex-col items-center justify-center bg-[#010101]">
		<div class="flex flex-col">
			<h1 class="text-9xl font-extrabold tracking-widest text-white">404</h1>
			<span class="bg-red-600 px-2 text-sm">Page Not Found</span>
		</div>
	</section>
</NotFoundLayout>
