---
import { Image } from 'astro:assets';
import hero from '../assets/images/b5-overlay.jpg';
---

<section class="ek-container relative flex h-[420px] items-end justify-end">
	<div class="md:max-w-[600px] lg:max-w-screen-md">
		<Image
			src={hero}
			widths={[300, 540, 720, 1200, 1600, hero.width]}
			sizes={`(max-width: 360px) 300px, (max-width: 720px) 540px, (max-width: 1200px) 720px, (max-width: 1600px) 1200px, 1600px, ${hero.width}px`}
			alt="A description of my image."
			class="object-cover"
		/>
	</div>
	<div
		class="absolute left-0 top-12 flex h-auto w-full flex-col justify-start gap-2 px-6 py-8 text-white xl:top-0 xl:h-full xl:justify-center"
	>
		<h1 class="text-3xl font-medium xl:text-4xl">Fastest Daily B5 1.8T in Turkey</h1>
		<div class="flex flex-col">
			<ul class="flex flex-col text-sm text-white text-opacity-80 lg:text-base">
				<li>3.2 sec. @ 0 to 100 km/h (60 mph)</li>
				<li>5.1 sec. @ 100 to 200 km/h (120 mph)</li>
			</ul>
		</div>
	</div>
</section>
