---
import { Image } from 'astro:assets';
const workpartners = await Astro.glob('/src/assets/images/workpartners/*.{png,jpeg,jpg,svg}').then(
	(images) => {
		return images.map((image) => image.default);
	},
);
---

<section class="w-full border-y bg-neutral-50">
	<div class="ek-container flex items-center justify-start gap-12 overflow-x-auto">
		{
			workpartners.map((image) => (
				<div class="max-w-[125px] flex-none">
					<Image
						alt=""
						src={image}
						width={image.width}
						height={image.height}
						class="object-cover grayscale invert"
					/>
				</div>
			))
		}
	</div>
</section>
