<footer class="border-t bg-neutral-50 py-8 xl:py-12">
	<div class="ek-container">
		<div class="flex justify-between">
			<div class="grid grid-cols-2 gap-x-24 gap-y-12 md:grid-cols-3">
				<div>
					<h3 class="mb-4 font-semibold uppercase">Contact us</h3>
					<ul class="flex flex-col gap-3 font-medium text-gray-500">
						<li>
							<a href="https://wa.me/905533857303" target="_blank" class="hover:underline">
								Chat on Whatsapp
							</a>
						</li>
						<li>
							<a href="tel:905533857303" class="hover:underline" target="_blank">Phone</a>
						</li>
					</ul>
				</div>
				<div>
					<h3 class="mb-4 font-semibold uppercase">Follow us</h3>
					<ul class="flex flex-col gap-3 font-medium text-gray-500">
						<li>
							<a
								href="https://www.instagram.com/ek.racing/"
								target="_blank"
								class="hover:underline"
							>
								Instagram
							</a>
						</li>
						<li>
							<a
								href="https://www.youtube.com/channel/UC-w1f9Mes_SXpGyy2OO-u3A"
								class="hover:underline"
								target="_blank"
							>
								Youtube
							</a>
						</li>
					</ul>
				</div>
				<div>
					<h3 class="mb-4 font-semibold uppercase">Legal</h3>
					<ul class="font-medium text-gray-500">
						<li>
							<a href="/privacy-policy.pdf" target="_blank" class="hover:underline">
								Privacy Policy
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<hr class="my-6 border-gray-200 sm:mx-auto" />
		<div class="sm:flex sm:items-center sm:justify-between">
			<span class="text-sm text-gray-500 sm:text-center"
				>© 2023 <a href="/" class="hover:underline">EK Racing™</a>. All Rights Reserved.
			</span>
		</div>
	</div>
</footer>
