---
import Logo from '../components/Logo.astro';
---

<header class="w-full">
	<section class="ek-container flex h-[80px] items-center justify-between">
		<div>
			<a href="/" class="relative flex items-center">
				<Logo width="150" height="39" />
			</a>
		</div>
		<nav class="text-white">
			<ul class="flex flex-row items-center gap-5 text-sm font-medium uppercase">
				<li class="hover:text-red-500">Home</li>
				<li class="hover:text-[#9AFEFB]">Services</li>
			</ul>
		</nav>
	</section>
</header>
