---
import Logo from '../components/Logo.astro';
---

<header class="w-full">
	<section class="ek-container flex h-[80px] items-center justify-between">
		<div>
			<a href="/" class="relative flex items-center">
				<Logo width="165" height="44" />
			</a>
		</div>
		<nav class="tracking-wider text-white">
			<ul class="flex flex-row items-center gap-5 text-sm font-medium uppercase md:text-base">
				<li class="hover:text-red-300"><a href="/">Home</a></li>
				<li class="hover:text-[#CDFFFD]"><a href="/services">Services</a></li>
			</ul>
		</nav>
	</section>
</header>
