---
import { SEO } from 'astro-seo';

import '../assets/styles/tailwind.css';
import '../assets/styles/theme.css';

export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#010101" />
		<meta name="msapplication-TileColor" content="#010101" />
		<meta name="theme-color" content="#ffffff" />

		<SEO
			title={title}
			description={description}
			titleTemplate="%s - EK Racing"
			canonical={`https://www.ekracing.com.tr${Astro.url.pathname}`}
			extend={{
				link: [{ rel: 'icon', href: '/favicon.ico' }],
			}}
			openGraph={{
				basic: {
					title: title + ' - EK Racing',
					type: 'website',
					image: 'https://www.ekracing.com.tr/apple-touch-icon.png',
					url: `https://www.ekracing.com.tr${Astro.url.pathname}`,
				},
			}}
		/>

		<slot name="after-meta" />
	</head>
	<body class="flex min-h-screen flex-col justify-between">
		<slot />
	</body>
</html>
